//стандартные цвета
$black: #000;
$white: #fff;
//цвет текста в пунктах меню 
$cl-private: #4900A4;
$cl-chapter-1: #14731B;
$cl-chapter-2:#0E73D9;
$cl-chapter-3:#DD4C00;
$cl-chapter-4:#333333;
$cl-chapter-5:#B60700;
// цвет текста в индикаторе
$cl-indicator: #7B7B7B;
$cl-string: #666666;
$cl-subtext: #7A7A7A;
//цвет линии
$cl-line: #CACACA;
// цвета для градиентов
$cl-gd-bottom:#3BAD19;
$cl-gd-middle:#39A518;
$cl-gd-middleup:#369E17;
$cl-gd-up:#2F8814;
$cl-gd-gray: #D7D7D7;
//=====================================================================
$cl-gd-green-bottom:#A4D807;
$cl-gd-green-middle:#9DD005;
$cl-gd-green-middleup:#94C404;
$cl-gd-green-up:#7EA703;
//======================================================================
$cl-gd-white-bottom:#F6F6F6;
$cl-gd-light-gray-up:#7EA703;
//Цвет тени
$cl-shadow: #BDBDBD;
//======================================================================
//цвета border
$br-gray: #999999;
$br-light-gray: #D6D6D6;
//================================================================
//цвет кнопки
$bg-btn: #8CB903;

//градиент для кнопок
$gd-btn-bottom-dark-gray: #7E7E7E;
$gd-btn-bottom-light-gray: #999999;
$gd-btn-medium-gray: #A5A5A5;
$gd-btn-medium-light-gray: #ADADAD;
$gd-btn-up-dark-gray: #B5B5B5;
$gd-btn-up-medium-gray: #BDBDBD;
$gd-btn-up-gray: #CBCBCB;
// bg button-box
$bg-button-box: #F2F2F2;

// border для indicator
$gd-indicator-border-green: #21600E;
// orange gradient
$gd-indicator-bottom-orange: #A4D807;
$gd-indicator-middle-orange: #9FD206;
$gd-indicator-top-orange: #94C404;
$gd-indicator-top-dark-orange: #7EA703;
// border indicator
$gd-indicator-border-orange: #597602;